# Lines starting with '#' are considered comments.
# Exclamation mark at the begining of line means "except" -> that is: "Dont ignore"

[Oo]bj/
[Bb]in/
tmp/
logs/
publish/
_ReSharper*/
*.ReSharper
*.user
*.suo
*.dbmdl
*.cache
cassette-cache/