<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Raven/MaxPageSize" value="10000"/>
  </appSettings>
  <connectionStrings>
    <add name="Raven" connectionString="Url=http://localhost:8080/;Database=test"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
